body {
    margin: 0;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

h1 {
    text-align: center;
    font-size: 100px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

#main {
    padding: 0 10% 5vh 10%;
    width: 100%;
    box-sizing: border-box;  
    -webkit-box-sizing: border-box;
    min-height: 100vh;
}

@media screen and (max-width: 730px) {
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 30px;
        margin-top: 0;
    }
}