@model KegelFreundeHorw.Models.VieModel.GalleryViewModel
@{
    ViewData["Title"] = "Galerie";
}

<link rel="stylesheet" href="~/css/gallery.css">
<link rel="stylesheet" href="~/css/lightgallery.css">
<link rel="stylesheet" href="~/css/form.css">

@section Title
{
    <div class="container">
        <h1>Galerie</h1>
        <h2>Bilder aus Trainings und weiteren Anlässen.</h2>
    </div>
}

<div id="lightgallery">
    @foreach (var item in Model.PhotoGraphyList)
    {
        @*<a href="@Url.Content("~/photoGraphy/"+item.Name)" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">*@
        <a href="~/img/photography/@item.Name">
            <img src="~/img/photography/@item.Name" asp-append-version="true">
        </a>
        @*</a>
            <a href="@Url.Action("DeletePhoto","Gallery",new { id=item.Id})" style="float:right">Delete</a>*@
    }
</div>

<script src="js/lightgallery.umd.js"></script>

<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        speed: 500
    });
</script>
