@model MailViewModel
@{
    ViewData["Title"] = "Über uns";
}
<link rel="stylesheet" href="~/css/form.css" />

@section Title
{
    <div class="container">
        <h1>Über uns</h1>
        <h2>Wir sind die Kegel Freunde Horw</h2>
    </div>
}

