<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KegelFreundeHorw</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <header>
        <nav>
            <div id="logoAndBurger">
                <a id="logo" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="">
                </a>
                <a href="javascript:void(0);" id="burger" onclick="myFunction()">
                    <img src="~/img/burger.png" alt="">
                </a>
            </div>
            <div id="nav-items">
                <a class="nav-item" asp-area="" asp-controller="AboutUs" asp-action="Index">Über uns</a>
                <a class="nav-item" asp-area="" asp-controller="Members" asp-action="Index">Mitglieder</a>
                <a class="nav-item" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                <a class="nav-item" asp-area="" asp-controller="Gallery" , asp-action="Index">Galerie</a>
            </div>

        </nav>
    </header>
    @RenderSection("Title");

    <div id="main">
        @RenderBody()
    </div>


    <footer>
        <div class="container">
            <p>&copy; 2021 - Kegel Freunde Horw (KFH)</p>
            <p>-</p>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Impressum</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Haftung</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Datenschutz</a>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)


    <script>
        function myFunction() {
            var x = document.getElementById("nav-items");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
</body>

</html>
